{{ define "main" }}
  <div class="container col-xxl-10 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src = "/images/fam.jpg" class=" rounded-circle d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
      <div class="col-lg-6">
        <h1 class="animate__animated animate__flipInX display-2 fw-bold text-gradient lh-1 mb-3">Hi, I'm Eamonn<i class="far fa-hand-spock"></i></h1>
        <p class="fs-4">
          {{.Site.Params.Subtitle}}<br>
          <iframe src="https://embeds.beehiiv.com/eab8502a-f9ab-4d3f-abc8-30b1abb520a9?slim=true" data-test-id="beehiiv-embed" height="52" frameborder="0" scrolling="no" style="margin: 0; border-radius: 0px !important; background-color: transparent;"></iframe>
          

      </div>
    </div>
  </div>
  <div class="container-fluid rounded-3 text-center p-5"style="background: #0e9d58">
    <h2 class="text-light display-3 fw-bold">Videos</h2>
    <p class="fs-4 text-light">Check out my YouTube Channel. I make tech tutorials about coding, spreadsheets and cool products 👇</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/zNqcLWGJlvQ?si=SCE2cQGVEQKqQq95" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>

  

{{ end }}