body{
    max-width: 1440px;
    margin: 0 auto;
}
.text-gradient{
    background: -webkit-linear-gradient(60deg, #0e9d58, #074e2c);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.page-container{
    position: relative;
    min-height: 100vh;
}

.footer{
    bottom: 0;
    height: 2.5rem;
}

img{
    max-width: 100%;
}

a{
    color: #0e9d58;
}