{{define "main"}}
<div class="container text-center my-3">
    <img class="img-fluid rounded" src="{{.Params.image}}" alt="{{.Params.alt}}">
    <h1 class="display-1 fw-bold">{{.Title}}</h1>
    <small class="lead">by {{.Params.Author}}<br>
        {{ with .PrevInSection }}<a class="" href="{{.RelPermalink}}">previous: {{.Title}}</a>{{ end }} {{ with .NextInSection }}<a class="" href="{{.RelPermalink}}">next: {{.Title}}</a>{{ end }}
    </small>
        
</div>
<div class="container">
    <h2 class="fw-bold">Show Trailer:</h2>
    <iframe width="100%" height="180" frameborder="no" scrolling="no" seamless src="{{.Params.trailer}}"></iframe>
</div>
<div class="container fs-5">
    <div class="my-5">
        <h2 class="fw-bold">What is this?</h2>
        {{.Content}}
    </div>
    <div class="my-5">
        <h2 class="fw-bold">Listen to Episodes on the player below:</h2>
        <iframe width="100%" height="390" frameborder="no" scrolling="no" seamless src="{{.Params.player}}"></iframe>
    </div>
    <a href="/{{.Section}}" class="">back to {{.Section}}</a>
    <div>
      {{ with .PrevInSection }}<a class="" href="{{.RelPermalink}}">previous: {{.Title}}</a>{{ end }}<br>
      {{ with .NextInSection }}<a class="" href="{{.RelPermalink}}">next: {{.Title}}</a>{{ end }}<br>
      <a href="/">back home</a>
    </div>
</div>
{{end}}