{{define "main"}}
<div class="container text-center my-3">
    <img class="img-fluid rounded" src="{{.Params.image}}" alt="{{.Params.subtitle}}">
    <h1 class="display-1 fw-bold">{{.Title}}</h1>
    <small class="lead">by {{.Params.Author}}<br>
        {{ with .PrevInSection }}<a class="" href="{{.RelPermalink}}">previous: {{.Title}}</a>{{ end }} {{ with .NextInSection }}<a class="" href="{{.RelPermalink}}">next: {{.Title}}</a>{{ end }}
    </small>
        
    <div>
        <iframe width="100%" height="180" frameborder="no" scrolling="no" seamless src="{{.Params.trailer}}"></iframe>
    </div>
</div>
<div class="container fs-5">
    {{.Content}}
    <a href="/{{.Params.section}}" class="">back to {{.Section}}</a>
    <div>
      {{ with .PrevInSection }}<a class="" href="{{.RelPermalink}}">previous: {{.Title}}</a>{{ end }}<br>
      {{ with .NextInSection }}<a class="" href="{{.RelPermalink}}">next: {{.Title}}</a>{{ end }}<br>
      <a href="/">back home</a>
    </div>
</div>
{{end}}