{{define "main"}}
<div class="container col-xxl-10 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src = "{{.Params.image}}" class="d-block mx-lg-auto img-fluid" alt="{{.Params.alt}}" loading="lazy">
      </div>
    <div class="col-lg-6">
      <h1 class="display-3 fw-bold text-gradient lh-1 mb-3 pb-3">{{.Title}}</h1>
      <p class="fs-3">
        {{.Params.Subtitle}}<br>
        <iframe class="mt-2" src="https://embeds.beehiiv.com/eab8502a-f9ab-4d3f-abc8-30b1abb520a9?slim=true" data-test-id="beehiiv-embed" height="52" frameborder="0" scrolling="no" style="margin: 0; border-radius: 0px !important; background-color: transparent;"></iframe>

    </div>
  </div>
</div>

<!-- <div class="container rounded-3"><iframe src="https://embeds.beehiiv.com/eab8502a-f9ab-4d3f-abc8-30b1abb520a9" data-test-id="beehiiv-embed" width="100%" height="320" frameborder="0" scrolling="no" style="border-radius: 4px; border: 2px solid #e5e7eb; margin: 0; background-color: transparent;"></iframe></div> -->


<div class="container rounded-3">
    <div class="row row-cols-1 row-cols-lg-4">
        {{ range .Pages }}
        <!-- <div class="col my-3"> -->
        <div class=" col my-3 card-group">
            <div class="card g-3 mx-auto">
              <!-- <div class="card-img-top bg-primary" style="height: 3rem;"></div> -->
                <img src="{{ .Params.image }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-bold text-gradient fs-3"><a href="{{.RelPermalink}}">{{.Title}}</a></h5>
                    <p class="card-text lead">{{.Params.subtitle}}</p>
                  </div>
                  <div class="card-footer">
                    {{if (eq .Section "posts")}}<small class="text-muted">Written {{ .Date.Format "Jan 2, 2006" }}</small>{{end}}<br>
                    {{if (eq .Section "projects")}} <a class="btn btn-sm btn-outline-success" href="{{.Params.code}}">Code</a>{{end}}
                    <a href="{{ .RelPermalink }}" class="btn btn-sm btn-outline-primary">Read More</a>
                    {{if (eq .Section "projects")}} <a href="{{.Params.demo}}" class="btn btn-sm btn-outline-secondary">Demo</a>{{end}}
                </div>
            </div>
        </div>
        {{ end }}
    </div>
    <a href="/">back home</a>
</div>
{{end}}